<div class="sidebar col-md-3">
	<h2 class='page-header'>Menu</h2>
	<ul>
		<li><%= link_to "All users", admin_users_path %></li>
		<li><%= link_to "All companies", admin_companies_path %></li>
		<li><%= link_to "All invoices", admin_invoices_path %></li>
	</ul>
</div>
