<div class="row">
<%= render 'shared/sidebar' %>
	<div class="mainbar col-md-9">
		<h2 class='page-header'>Your Companies</h1>
		<%= render 'companies/list' %>	
		<hr>
		<h2 class='page-header'>Latest Invoices</h1>
		<%= render 'invoices/list' %>
	</div>
</div>
