/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *=require bootstrap-datepicker
 */

$gray-medium-light: #eaeaea;
$brand-primary: #16bbaa; 

@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/* General */

body {
	padding-top: 60px;
	background-color: #f9f9f9;
	font-size: 16px !important;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

h2 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight: normal;
	color: #777;
}

p {
	font-size: 1.3em;
	line-height: 1.7em;
}



/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.navbar-inverse {
	background-color: #16BBAA;
	border-color: #16BBAA;
}

.navbar-inverse .container li a { color: #fff; font-size: 16px; }

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

/* centered columns styles */
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: center;
	/* inline-block space fix */
	margin-right: -4px;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
	@include box_sizing;
}

input#invoice_date.datepicker { padding: 10px; }

#user_remember_me { width: auto; margin-left: 0; }

input {
	height: auto !important;
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

.devise_links { margin-top: 10px; }

.main-content {
	margin-top: 60px;
}

hr {
	border-color: #ccc;
}

.alert {
	margin-top: 15px;
}

.notice {
	background: $alert-info-bg;
	padding: $alert-padding;
	border: $alert-info-border;
}


